{% load django_bootstrap5 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% translate "Django" %}</title>
    {% bootstrap_css %}
  </head>
  <body class="bg-light">
    <div class="container mt-4">
      {% bootstrap_messages %}
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'users'%}">{% translate "Пользователи" %}</a>
        </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="nav-link btn btn-link" style="border: none; padding: 0; background: none;">{% translate "Выход" %}</button>
            </form>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'statuses' %}">{% translate "Статусы" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tasks' %}">{% translate "Задачи" %}</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">{% translate "Вход" %}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'create' %}">{% translate "Регистрация" %}</a>
          </li>
        {% endif %}
      </ul>
    </div>
    <div class="container mt-4">
      <h1>
        Я есть Django
      </h1>
 
    </div>
  </body>
</html>