{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}{% translate "Создать задачу" %}{% endblock %}

{% block content %}
  <div class="mx-auto" style="max-width: 600px;">
    <h2 class="mb-4">{% translate "Создать задачу" %}</h2>
    <form action="{% url 'tasks:tasks:tasks_create' %}" method="post">
      {% csrf_token %}
      {% bootstrap_field form.name layout='vertical' %}
      {% bootstrap_field form.description layout='vertical' %}
      {% bootstrap_field form.status layout='vertical' %}
      {% bootstrap_field form.executor layout='vertical' %}
      {% bootstrap_field form.labels layout='vertical' %}

      <button type="submit" class="btn btn-primary">{% translate "Создать" %}</button>
    </form>
  </div>
{% endblock %}