{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}{% translate "Изменить метку" %}{% endblock %}

{% block content %}
  <h2 class="mb-4">{% translate "Изменить метку" %}</h2>
  {% if form.errors %}
    <div>
      <ul>
      {% for error in form.errors %}
        <li><strong>{{ error|escape }}</strong></li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form action="{% url 'labels_edit' pk=label.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='vertical' %}
    <button type="submit" class="btn btn-primary">{% translate 'Сохранить' %}</button>
  </form>
{% endblock %}