{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}{% translate "Создать задачу" %}{% endblock %}

{% block content %}
  <div class="mx-auto" style="max-width: 600px;">
    <h2 class="mb-4">{% translate "Создать задачу" %}</h2>
    <form action="{% url 'tasks_create' %}" method="post">
      {% csrf_token %}
      {% bootstrap_field form.name layout='vertical' %}
      {% bootstrap_field form.description layout='vertical' %}
      {% bootstrap_field form.status layout='vertical' %}
      <div class="mb-3">
        <label class="form-label" for="{{ form.executor.id_for_label }}">Исполнитель</label>
        {{ form.executor }}
        {% if form.executor.errors %}
          <div class="text-danger">{{ form.executor.errors }}</div>
        {% endif %}
      </div>
      {% bootstrap_field form.labels layout='vertical' %}

      <button type="submit" class="btn btn-primary">{% translate "Создать" %}</button>
    </form>
  </div>
{% endblock %}