{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}{% translate "Создать задачу" %}{% endblock %}

{% block content %}
  <h2 class="mb-4">{% translate "Создать задачу" %}</h2>
  <form action="{% url 'tasks_create' %}" method="post">
    {% csrf_token %}
    {% bootstrap_field form.name layout='vertical' %}
    {% bootstrap_field form.description layout='vertical' %}
    {% bootstrap_field form.status layout='vertical' %}
    {% bootstrap_field form.executor layout='vertical' %}
    {% bootstrap_field form.labels layout='vertical' %}

    {% bootstrap_button "Создать задачу" button_type="submit" button_class="btn-primary w-25" %}
  </form>
{% endblock %}