{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}{% translate "Удаление пользователя" %}{% endblock %}

{% block content %}
  <h2 class="mb-4">{% translate "Удаление пользователя" %}</h2>
  <p>{% translate "Вы уверены, что хотите удалить пользователя" %} "{{ user.username }}"?</p>
  <form action="{% url 'users_delete' pk=user.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Да, удалить" class="btn btn-danger">
  </form>
{% endblock %}
