{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}{% translate "Пользователи" %}{% endblock %}

{% block content %}
<a href="{% url 'create' %}" class="btn btn-success mb-3">{% translate "Создать пользователя" %}</a>
  <h2 class="mb-4">{% translate "Пользователи" %}</h2>
  <table class="table mt-3 table-bordered table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>{% translate "Имя пользователя" %}</th>
        <th>{% translate "Полное имя" %}</th>
        <th>{% translate "Дата создания" %}</th>
        <th>{% translate "Действия" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.fullname }}</td>
        <td>{{ user.created_at }}</td>
        <td>
          <a class="btn btn-sm btn-outline-primary"
             href="{% url 'users_edit' pk=user.id %}">
            {% translate "Изменить" %}
          </a>
          <a class="btn btn-sm btn-outline-danger"
             href="{% url 'users_delete' pk=user.id %}">
            {% translate "Удалить" %}
          </a>
        </td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
{% endblock %}